<body class="text-center vertical-center">
    <div class="container">
        <form class="form-signin">
            <h1 class="h3 mb-3 font-weight-normal">Prijavi se z geslom, ki so ga dali voditelji!</h1>
            <input type="text" id="inputEmail" class="form-control" placeholder="Uporabniško ime" required="" autofocus="" #uporabniskoime>
            <br>
            <input type="text" id="inputPassword" class="form-control" placeholder="Geslo" required="" #geslo>
            <br>
            <p style="color: red">{{this.opozorilo}}</p>
            <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="posljiPrijavo()">Prijava</button>
        </form>
    </div>
</body>